---
import Section from "./Section.astro";
---

<Section
  title="Experience Tesla"
  subtitle="Schedule a Demo Drive Today"
  color="white"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-sm text-white px-20 py-2 hove:text-black hover:text-black hover:bg-white hover:shadow-xl transition-colors duration-300 ease-in-out"
      href="#">Demo Drive</a
    >
  </div>
  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/tesla-landing/video.webm"></video>
</Section>
