---
import Section from "./Section.astro";
---

<Section title="Model S" subtitle="View Inventory" color="black">
  <div slot="footer" class="flex mx-auto gap-x-6">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 rounded font-medium text-white px-20 py-2 hover:bg-gray-400 hover:border-gray-400 hover:shadow-xl transition-colors duration-500 ease-in-out"
      href="#">Order Now</a
    >
    <a
      class="bg-white rounded font-medium text-black px-20 py-2 hove:text-black hover:text-white hover:bg-black hover:shadow-xl transition-colors duration-300 ease-in-out inline-flex items-center justify-center"
      href="#">Demo Drive</a
    >
  </div>
  <img
    slot="background"
    class="object-center object-cover h-full w-full"
    src="/ModelS.avif"
    alt="Model S"
  />
</Section>
